.footer {
  background-color: #00005C; /* dark blue background */
}

.footer-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-social {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s;
}

.btn-social:hover {
  background-color: #fff;
  color: #00224D;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}
