<nav class="navbar navbar-expand-lg navbar-dark shadow-sm px-4">
  <a class="navbar-brand" routerLink="/" (click)="closeMenu()"><img src="assets/favicon.ico" alt="icon" /></a>

  <button class="navbar-toggler" type="button" (click)="toggleMenu()"
    aria-controls="navbarNav" [attr.aria-expanded]="isMenuOpen" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isMenuOpen">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact us</a>
      </li>

      <!-- Show Login when not logged in -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="onLogin()" routerLink="/login" routerLinkActive="active">
          <i class="bi bi-box-arrow-right"></i> Login
        </a>
      </li>

      <!-- After login, show MyStats dropdown -->
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i> My Profile
        </a>
        <ul class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="profileDropdown">
          <li>
            <a class="dropdown-item" routerLink="/player-profile" routerLinkActive="active" (click)="closeMenu()">
              My Stats
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/live-dashboard" routerLinkActive="active" (click)="closeMenu()">
              Matches Dashboard
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/tournament-dashboard" routerLinkActive="active" (click)="closeMenu()">
              Organizer Dashboard
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="onLogout()">
              <i class="bi bi-box-arrow-left"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
