
<div class="dashboard-container">


<div class="live-dashboard-container">
    <h1>🏑 Live Hockey Dashboard</h1>
  <div class="navbar">
    <button
      (click)="selectedTab = 'Live'"
      [class.active]="selectedTab === 'Live'"
    >
      Live 
    </button>
    <button
      (click)="selectedTab = 'Upcoming'"
      [class.active]="selectedTab === 'Upcoming'"
    >
      Upcoming
    </button>
    <button
      (click)="selectedTab = 'Finished'"
      [class.active]="selectedTab === 'Finished'"
    >
      Finished
    </button>
  </div>

  <div class="match-list">
    <ng-container *ngFor="let match of matches">
      <div
        class="match-card"
        *ngIf="match.status === selectedTab"
      >
        <h3>{{ match.teamA }} vs {{ match.teamB }}</h3>
        <p>Score: {{ match.scoreA }} - {{ match.scoreB }}</p>
        <p>
          Status:
          <strong [ngClass]="match.status">{{ match.status }}</strong>
        </p>
        <p>Time: {{ match.time }}</p>
      </div>
    </ng-container>
  </div>
</div>
</div>
<!-- </div> -->
