/* ================= HERO ================= */
.hero-section {
  background: linear-gradient(115deg, #5fa9c2, #4b9bb4);
}

.min-vh-75 {
  min-height: 75vh;
}

.hero-image {
  max-height: 400px;
}

/* ================= PURPOSE ================= */
.purpose-section {
  background: linear-gradient(135deg, #4b9bb4, #5fa9c2);
}

.purpose-section h3 {
  color: #063b5c;
}

/* ================= FEATURES ================= */
.features-section {
   background: linear-gradient(115deg, #90e783e2, #65c176);
}

.feature-card {
  background: linear-gradient(135deg, #063b5c, #021b30);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

/* ================= COMMUNITY ================= */
.community-section {
  background: linear-gradient(135deg, #65c176, #90e783e2);
}

/* ================= CTA ================= */
.cta-section {
     background: linear-gradient(135deg, #4b9bb4, #1a9831);

}
